<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About html</title>
    <style>
        body {
            color: #fff; 
            background-color: #333;
            text-align: center;
            padding-top: 100px;
            
        }
        a {
            color: aqua;
        }
    </style>
</head>
<body>
   <h1>О нас</h1> 
    <a href="/">На главную</a>
</body>
</html>