<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERROR</title>
    <style>
        body {
            color: #fff; 
            background-color: #333;
            text-align: center;
            padding-top: 100px;
            
        }
        a {
            color: aqua;
        }
    </style>
</head>
<body>
   <h1>404</h1> 
   <p>Вы видите данную страницу так как возникла ошибка</p>  
   <a href="/">Вернуться на главную</a>
</body>
</html> 

