<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node JS</title>
    <style>
        body {
            color: #fff; 
            background-color: #333;
            text-align: center;
            padding-top: 100px;
            
        }
        a {
            color: aqua;
        }
    </style>
</head>
<body>
   <h1>Главная страница</h1> 
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt minima repudiandae voluptas nostrum labore? Ad quam ullam voluptatem nisi harum, voluptate culpa eveniet a, explicabo tempora dolorum incidunt. Repellat, minima!</p>
    <a href="/about">Про нас</a>
</body>
</html> 

